#main_div
  - if ManageIQ::Providers::StorageManager.any?
    = render :partial => 'layouts/gtl'
  - else
    = render :partial => 'layouts/empty',
             :locals => {:add_message => _("Add a new Block Storage Manager"),
                         :documentation => ::Settings.docs.product_documentation_website} # [todo] we need to add storage_provider docs and set the URL for it in manageiq/config/settings.yml
